html {
    padding: 100px;
    /* background-image: url(/muscles.jpg);
    background-repeat: no-repeat; */

    h1 {
        font-weight: bold;
        color: #595959;
        text-align: center;
        font-size: 35px;
        margin-bottom: 50px;
    }

    .muscle {
        display: flex;
        justify-content: space-between;
    }


    form {
        margin: 0 auto;
        max-width: 500px;

        p {
            color: #595959;
            margin-bottom: 30px;

            input {
                margin-top: 10px;
                width: 100%;
                color: #000;
                outline: solid 1px #595959;
                border-radius: 10px;
                height: 35px;
            }
        }

        button {
            display: block;
            margin: 0 auto;
            padding: 15px 40px;
            outline: solid 1px #595959;
            border-radius: 50px;
            background-color: #D9D9D9;

        }
    }

    .link {
        margin-top: 30px;
        text-align: center;

        a {
            font-size: 25px;
        }
    }

    a:hover {
        color: blue;
        border-bottom: solid 1px blue;
    }
}